.sidebar {
  float :left;
  /* background-color: #7EBC89; */
  height:500px;
  width:auto;
}

.container{
  /* background-color: #FE5D26; */
    background-image: linear-gradient(rgb(254, 93, 38), rgb(153, 61, 0));
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}
.logo{
text-align: center;
}
.footer{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #C1DBB3;
  border: 1px gray solid;

}
.d-flex, .justify-content-between{
  text-align: center;
}
.row{
  /* background-color: #7EBC89; /*background of drop down "about us" */ */

  background-color: #7EBC89;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #e3efdc 51%, #7EBC89 75%);
  color: #34653d;
  box-shadow: 5px 10px 8px rgb(51, 51, 51);
}
.text-muted{
  color: white !important;
}
body{
  background-color: #FAEDCA;
  background-image: linear-gradient(141deg, #9fb8ad 10%,#FAEDCA   51%, #9fb8ad 75%);
}
.thankyou{
  text-align: center;
  background-repeat: repeat;
  background-color:  #7EBC89;
  font-family: arial, sans-serif;
  font-size: 50px;
  text-shadow: -2px 0px 2px black;
  border: 2px solid black;
  line-height: 1.5;
}
#noshadow{
  text-shadow: 0px 0px 0px;
}
.jumbotron{
  background-color: #7EBC89 !important;

}
#body2{
  background-image:url("formbg.jpg");
  background-size:cover;
}
.container-flex{
  background-color: #FE5D26;
}
.advert{
  text-align: center;
  font-family: arial;
  font-size: 30px;
  background-color: #7EBC89;
  width: 400px;
  margin: auto;
  margin-top: 20px;
  padding: 35px;
  border: 2px solid black;
  text-shadow: 2px 0px 2px black;
}

a:hover {
    text-decoration: underline !important;
}
